.action-button {
  background-color: #3040C4;
  color: #fff;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.vacancy__button-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
  width: 7px;
  height: 12px;
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #F4F5F7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 75px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  margin: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 32px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  flex: 1;
  padding: 10px;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 100%;
}

.features {
  position: relative;
  display: flex;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
  margin-top: 30px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142C6;
}
.features__advantage-item {
  display: flex;
  border-bottom: 1px solid #20292D26;
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}
.footer__line {
  border-top: 1px solid #2B292D;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about_company {
  margin-top: 44px;
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
.downloads for-large-up {
  margin: 0;
  margin-top: 25px;
  justify-content: left;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    flex-direction: row;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-Links {
  width: 265px;
}
.nav-Links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}
.nav-Links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__items {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}

.header {
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    background-color: #F3C6BD;
    width: 1140px;
    height: 62px;
    margin: auto;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
    min-width: 160px;
    min-height: 48px;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

.logo {
  display: flex;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
    display: block;
  }
}
.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .top_section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline_content {
  margin: 15px;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .headline_content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    width: 160px;
    height: 48px;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
    height: 48px;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040C4;
  min-width: 158px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    width: 796px;
    height: 448px;
    top: 0;
    right: -105px;
    margin-top: 0;
    margin-left: auto;
  }
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009840;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 20px;
  max-width: 100%;
}

.inbox {
  padding: 50px 15px 0 15px;
  background: #FCF0E366;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 142px 192px 116px 193px;
  }
}
.inbox__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__decoration {
    margin-right: 164px;
  }
}
.inbox__image {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .inbox__image {
    width: 425px;
  }
}
.inbox__inbox-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__inbox-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
.inbox__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .inbox__container {
    padding: 0;
  }
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #F1592B;
}
.inbox__title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2B292D;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin: 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.inbox__description {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin-top: 30px;
  }
}

.review {
  background: #fff;
  margin-top: 44px;
  margin-bottom: 33px;
  padding: 30px 20px;
  border-bottom: 3px solid #0185D0;
}
@media screen and (min-width: 1400px) {
  .review {
    width: 519px;
    height: 213px;
    margin-left: -30px;
    margin-bottom: 0;
    padding: 30px;
  }
}
.review__description {
  font-size: 20px;
  line-height: 28px;
  color: #2B292D;
}
.review__card {
  display: flex;
  margin-top: 26px;
}
.review__card__user-image {
  width: 40px;
  height: 40px;
  margin-right: 11px;
}
@media screen and (min-width: 1400px) {
  .review__card__user-image {
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .review__about {
    margin-left: 11px;
  }
}
.review__about__user-name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2B292D;
}
.review__about__user-about {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #2B292D;
}

.communication {
  padding: 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 110px 0;
  }
}
@media screen and (min-width: 1400px) {
  .communication__container {
    display: flex;
    align-items: center;
  }
}
.communication__description {
  margin-top: 35px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    margin-right: 193px;
    margin-left: 128px;
  }
}
.communication__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189D1;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    margin-top: 0;
  }
}
.communication__title {
  margin-top: 17px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__about {
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}
.communication__button {
  min-width: 160px;
  min-height: 48px;
}
@media screen and (min-width: 1400px) {
  .communication__line {
    margin-top: 87px;
    background-color: #000;
    height: 1px;
    width: 150px;
  }
}
.communication__decoration {
  margin: 0;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .communication__decoration {
    margin-bottom: 27px;
    margin-right: 193px;
  }
}
.communication__image {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__image {
    margin-bottom: 15px;
    margin-top: 0;
    min-width: 425px;
    min-height: 426px;
  }
}
.communication-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.communication__caption {
  margin-top: 58px;
  font-size: 18px;
  line-height: 26px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .communication__caption {
    display: flex;
    margin-top: 0;
    margin: 41px 100px 0 130px;
  }
}
.communication__caption-description {
  display: flex;
  flex-direction: column;
  line-height: 26px;
  padding-bottom: 33px;
}
.communication__caption-description__subscription {
  padding: 0;
  font-size: 18px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .communication__caption-description {
    margin-right: 30px;
  }
}
.communication__link {
  font-size: 18px;
  font-weight: 700;
}

.audience {
  padding: 15px;
  background: #00A1C612;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 100%;
    padding: 110px;
  }
}
.audience__desctiption {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__desctiption {
    margin-top: 0;
    width: 555px;
    margin: auto;
  }
}
.audience__title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-bottom: 24px;
  }
}
.audience__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
  }
}
.audience__about {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
.audience__action-btn {
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .audience__action-btn {
    width: 158px;
  }
}
.audience__buttom {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__buttom {
    flex-direction: row;
    margin-bottom: 111px;
  }
}

.audience-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience-card {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0;
  }
}
.audience-card__decoration {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.audience-card__image {
  max-width: 160px;
  max-height: 195px;
}
.audience-card__caption {
  margin-top: 22px;
  margin-bottom: 13px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.audience-card .audience-card-buttom {
  margin-top: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience-card .audience-card-buttom {
    margin-bottom: 0;
    width: 300px;
    margin-right: 30px;
  }
}
.audience-card .audience-card-buttom:hover {
  color: #fff;
  background: #3141C5;
}
@media screen and (min-width: 1400px) {
  .audience-card .audience-card-buttom:last-child {
    margin-right: 0;
  }
}

.feedback {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .feedback {
    position: relative;
    padding: 0;
  }
}
.feedback__section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .feedback__section {
    margin: auto;
    width: 58%;
  }
}
.feedback__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142C6;
}
@media screen and (min-width: 1400px) {
  .feedback__title {
    margin-top: 0;
    text-align: center;
  }
}
.feedback__subtitle {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 34px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .feedback__subtitle {
    text-align: center;
  }
}
.feedback__author-title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .feedback__author-title {
    text-align: center;
  }
}
.feedback__author-subtitle {
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 24px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .feedback__author-subtitle {
    text-align: center;
  }
}
.feedback__dots {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__dots {
    margin-bottom: 0;
  }
}
.feedback__dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #2B292D33;
  margin: 0 7px;
}
@media screen and (min-width: 1400px) {
  .feedback__dot {
    width: 8px;
    height: 8px;
  }
}
.feedback__dot__active {
  background: #3142C5;
}
.feedback__image {
  margin: auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .feedback__line {
    margin-top: 87px;
    background-color: #0000001a;
    height: 1px;
    width: 100%;
  }
}

.hiring {
  padding: 15px;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 0;
  }
}
.hiring__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .hiring__description {
    margin: auto;
    width: 40%;
  }
}
.hiring__title {
  margin: 0;
  margin-top: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    margin-top: 100px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.hiring__about {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
.hiring__company_button {
  height: 48px;
  width: 100%;
  margin-top: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #FFFFFF;
}
@media screen and (min-width: 1400px) {
  .hiring__company_button {
    width: 247px;
  }
}

.vacancy {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vacancy__button {
  display: flex;
  width: 100%;
  max-height: 140px;
  margin-top: 20px;
  text-decoration: none;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .vacancy__button {
    width: 750px;
    height: 80px;
  }
}
.vacancy__button__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 20px;
  background-color: #D5D4D5;
}
@media screen and (min-width: 1400px) {
  .vacancy__button__arrow {
    margin-right: 25px;
    margin-left: 0;
    background-color: #fff;
  }
}
.vacancy__button-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 100%;
  height: 140px;
}
@media screen and (min-width: 1400px) {
  .vacancy__button-content {
    height: 81px;
    align-items: center;
    margin-left: 0;
    flex-direction: row;
  }
}
.vacancy__button-position {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .vacancy__button-position {
    margin-left: 25px;
    min-width: 408px;
  }
}
.vacancy__button-locate {
  font-size: 18px;
  line-height: 24px;
  color: #2B292D99;
}
@media screen and (min-width: 1400px) {
  .vacancy__button-locate {
    margin-left: 33px;
    min-width: 232px;
  }
}
@media screen and (min-width: 1400px) {
  .vacancy__button:last-child {
    margin-bottom: 110px;
  }
}
.vacancy__button:hover {
  cursor: pointer;
  background: #3141C5;
}
.vacancy__button:hover .vacancy__button-position {
  color: #fff;
}
.vacancy__button:hover .vacancy__button-locate {
  color: #fff;
}
.vacancy__button:hover .vacancy__button-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
}
.vacancy__button:hover .vacancy__button__arrow {
  background-color: #3141C5;
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
    align-items: center;
  }
}
.order__email {
  margin-top: 40px;
  background: #fff;
  border: 1px solid #2B292D33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 320px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
