.communicate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__container {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    &__description {
        margin-right: 193px;
        margin-left: 128px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: #0189D1;
    }
    &__title {
        margin-top: 24px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: #2B292D;
    }
    &__about {
        margin-bottom: 39px;
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
    }
    &__button {
        @include for-large-up {
            min-width: 160px;
            min-height: 48px;
        }
    }
    &__decoration {
        margin-right: 193px;
    }
    &__image {
        @include for-large-up {
            min-width: 425px;
            min-height: 426px;
        }
    }
    &__communicate-caption {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(43, 41, 45, 0.6);
    }
    &__caption {
        display: flex;
        margin: 105px 100px 100px 130px;
    }
    &__caption-description {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        line-height: 26px;
        &__subscription {
            font-size: 18px;
            color: #2B292D;
        }
    }
    &__link__subscription {
        font-size: 18px;
        font-weight: 700;
    }
}